.form {
  place-content: center;
  color: seashell;
  display: grid;
  padding: 1em 2em 2em 2em;
  background: rgba(255, 255, 255, 0.01);
  -webkit-box-shadow: 2px 2px 30px 24px rgba(0, 0, 0, 0.01);
  box-shadow: 2px 2px 30px 24px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 50%;
  width: 37%;
  height: 65%;
  transform: translate(-50%, -50%);
}
