.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 64px;
  left: 64px;
  color: #f3f3f3;
  font-family: Odachi, "sans-serif";
  font-size: 2rem;
  transform: rotate(-8deg);
  line-height: 0.88;
  overflow: hidden;
  z-index: 999;
  text-decoration: none;
}
