.page {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 100%;

  &__section {
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @media (max-width: 576px) {
      width: 89%;
    }

    &.last {
      padding: 25vh 0 25vh 0;
    }
  }

  &__head {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;

    &.flat {
      height: 100%;
    }

    &.works {
      height: 100%;
      margin-top: 16rem;
      margin-bottom: 16rem;
      width: 60%;

      @media (max-width: 576px) {
        width: 90%;
        margin-top: 12rem;
        margin-bottom: 12rem;
      }
    }

    & div > blockquote {
      color: white;
      font-size: 3vw;
      font-weight: 300;

      @media (max-width: 576px) {
        font-size: 9vw;
      }

      & > span {
        display: inline-block;
      }

      & > span.front {
        position: absolute;
        left: -20px;
      }

      & > span.end {
        position: absolute;
        right: 41%;
      }
    }
  }

  &__image-placeholder {
    width: 75%;
    margin: 0 auto;
    z-index: 5;
    // background-color: rgba(255, 255, 255, 0.1);
    padding-top: 38%;
    position: relative;
    border: 1px solid rgba(48, 48, 48, 1);

    @media (max-width: 576px) {
      width: 89%;
      padding-top: 44%;
    }

    & > img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }

    & > img.cover {
      object-fit: cover;
      visibility: visible;
    }
  }

  &__paragraph {
    margin-top: 150px;

    @media (max-width: 576px) {
      margin-top: 75px;
      flex-direction: column;
    }

    &.flexed {
      display: flex;
    }
  }

  &__cell {
    width: 50%;

    @media (max-width: 576px) {
      width: 100%;
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__tag {
    font-weight: 200;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 0 0 20px;
    line-height: 20px;
    border-left: 2px solid rgba(237, 237, 237, 1);
    box-sizing: border-box;

    @media (max-width: 576px) {
      font-size: 1.4rem;
    }
  }

  &__count {
    line-height: 1em;
    display: block;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    color: #f3f3f3;
    margin-top: 64px;

    @media (max-width: 576px) {
      margin-right: 12px;
      font-size: 7vw;
      margin-top: 0;
    }
  }

  &__list {
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    font-size: 1.7vw;
    margin-top: 64px;
    line-height: 1.3;
    margin-left: 22px;
    font-weight: 300;
    text-align: center;
  }
}
