@font-face {
  font-family: Odachi;
  src: url('/fonts/Odachi.woff') format('woff');
}

@font-face {
  font-family: NeutralFace;
  src: url("/fonts/NeutralFace.otf") format("opentype");
}

@font-face {
  font-family: NeutralFace-Bold;
  src: url("/fonts/NeutralFace-Bold.otf") format("opentype");
}