$deep: #120458;
$purple: #7a04eb;
$pink: #fe75fe;
$hot-pink: #ff00a0;
$peach: #ff124f;
$white: #fff;
$black: #000;
$gray: #333;
$transparent: #f000;

$small-display: rem(450px);
$medium-display: rem(768px);
$large-display: rem(1024px);
$x-large-display: rem(1440px);

$sans-example-1: Helvetica, sans-serif;
$sans-example-2: Arial, sans-serif;